{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <div class="card mt-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://boulanger.scene7.com/is/image/Boulanger/4711081894018_h_f_l_0?wid=220&hei=220" class="img-fluid rounded-start m-2" alt="...">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ordinateur portable ASUS S712JA-BX769W</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <a href="#" class="btn btn-primary mx-2 end">Détails</a></p> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
