{% extends 'base.html.twig' %}

{% block title %}New Computer{% endblock %}

{% block body %}
    <h1>Create new Computer</h1>

    {{ include('computer/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-dark text-center mx-4" href="{{ path('app_computer_index') }}">back to list</a>
    {% else %}
        <a class="btn btn-outline-dark text-center mx-4" href="{{ path('home') }}">back to list</a>
    {% endif %}
    
{% endblock %}
