body {
    background-color: lightgray;
}

label {
    display: block;
}

input {
    width: 25rem;
}

textarea{
    width: 25rem;
}

.favoris {
    height: 30px !important;
    position: absolute;
    top: 1vw;
    right: 1vw;
}