<div class="list-group">
    <ul class="nav nav-tabs justify-content-center">
        {% for brand in brands %}   
        <li class="nav-item">
            <a class="nav-link {% if app.request.uri|split('/')|last == brand.id %} active{% endif %}" href="{{path('brand', {'id' : brand.id}) }}">{{ brand.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>