{% extends 'base.html.twig' %}

{% block title %}Error 403{% endblock %}

{% block body %}
    <div class="alert alert-danger" role="alert"> Dégage de là : tu n'es pas le BOSS !! </div>
    <a type="button" class="btn btn-outline-dark text-center mx-4" href="/">Back Home</a>
{% endblock %}