{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <div class="alert alert-danger text-center" role="alert"> Serveur en cours de maintenance, veuillez revenir plus tard. </div>
    <a type="button" class="btn btn-outline-dark text-center mx-4" href="/">Back Home</a>
{% endblock %}